@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/BRSonoma-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BR Sonoma";
  src: url("../assets/fonts/BRSonoma-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
