.footer {
  display: flex;
  justify-content: space-between;
  background-color: #03050f;
  color: white;
  text-align: center;
  margin-top: 60px;
  padding: 20px 160px;
  z-index: 2;
  

  &__logo {
    height: 30px;
    margin-bottom: 10px;
  }

  &__divider {
    background-color: #2b304e !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  &__text {
    font-size: 14px;
    color: #f8f9ff;
    font-weight: 400;
  }
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    margin-top: 0px;
  }
}
